form.add-project{
    width: 100%;
    margin-top: 5vw;

    button.save{
        margin: 0;
    }

    input.name{
        border: none;
        outline: none;
        border-bottom: 0.1vw solid black;
        font-size: 1.5vw;
        padding: 0.5vw 0vw;
        margin-bottom: 2vw;
        background-color: inherit;
    }
    textarea.description{
        resize: none;
        width: 100%;
        height: 10vw;
        padding: 1vw;
        font-size: 1vw;
             
    }
    >.date-block{
        display: flex;
        justify-content: space-between;
        align-items: center;

        >.date{
            width: 40%;

            .title{
                font-size: 1vw;
                font-weight: bold;
                margin-bottom: 1vw;
            }
            input.date{
                width: 100%;
                padding: 0.5vw;
                font-size: 1vw;
            }
        }
    }
    multi-input{
        border: none;
        outline: none;
        
        >input{
            background-color: #F7F7FC;
            border: 0.1vw solid lightgrey;
        }
    }
    .workers-block{
        width: 100%; 
        margin-top: 2vw;
        .title{
            font-size: 1vw;
            font-weight: bold;
            margin-bottom: 1vw;
        }
    }
    .tasks-block{
        width: 100%;
        margin-top: 2vw;
        .title{
            font-size: 1.2vw;
            font-weight: bold;
            margin-top: 2vw;
            margin-bottom: 1vw;            
        }
        .title.half{
            width: 50%;
        }
        .title.flex-center{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            input{
                width: 1.5vw;
                height: 1.5vw;
                margin-left: 0.5vw;
            }
            span{
                line-height: 1.5vw;                
            }
        }
        .tasks{
            width: 100%;

            .task{
                border: 0.1vw solid black;
                padding: 2.5vw;                
                max-width: 100%;
                background-color: white;
                position: relative;
                margin-bottom: 2vw;

                .blur{
                    display: none;
                }

                .header-block{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 2vw;

                    .task-name{
                        border: none;
                        outline: none;
                        border-bottom: 0.1vw solid black;
                        padding: 0.5vw 0vw;
                        font-size: 1vw;
                        background-color: inherit;
                    }
                    .date-block{
                        *{
                            margin-left: 0.5vw;
                            margin-right: 0.5vw;
                        }
                        .date{
                            padding: 0vw 0.5vw;
                        }
                    }
                }
                
                .delete-task{
                    position: absolute;
                    top: 0.5vw;
                    right: 0.5vw;
                    width: 2vw;
                    padding-bottom: 2vw;
                    height: 0;
                    background-position: center;
                    background-size: 90%;
                    background-repeat: no-repeat;
                    background-image: url(../../images/delete.png);
                    cursor: pointer;
                    z-index: 5;
                }
                .save-task{
                    position: absolute;
                    top: 0.5vw;
                    right: 3.5vw;
                    width: 2vw;
                    padding-bottom: 2vw;
                    height: 0;
                    background-position: center;
                    background-size: 90%;
                    background-repeat: no-repeat;
                    background-image: url(../../images/save.png);
                    cursor: pointer;
                }
            }
        }
        .task.saved{
            .blur{
                display: block;            
                position: absolute;
                z-index: 4;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;                
                background: rgba(0,0,0,1);
                opacity: 0.1;
            }
        }
        .add-task#add-task{
            width: 3vw;
            padding-bottom: 3vw;
            height: 0;
            background-size: 90%;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(../../images/add.png);              
            margin-top: 2vw;         
            cursor: pointer;
        }
    }
    .table-block{
        margin-top: 2vw;
        margin-bottom: 2vw;

        .title{
            font-size: 1vw;
            font-weight: bold;
            margin-bottom: 1vw;
        }
        .text{
            font-size: 0.8vw;
            width: 50%;
            text-align: justify;
            margin-bottom: 1vw;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            overflow: hidden;
            box-shadow: 0 0 20px rgba(0,0,0,0.1);
            border: 0.1vw solid black;
        }
        
        th,
        td {
            padding: 0;
            background-color: rgba(255,255,255,0.2);
            color: #fff;
            border: 0.1vw solid black;
            input{
                border: none;
                outline: none;
                padding: 1vw;
                width: 75%;
                font-size: 1vw;
                background-color: inherit;
                margin: auto;
                text-align: center;
            }
        }
        
        th {
            text-align: left;
        }

        th.diagonal-th{
            display: flex;
            justify-content: space-between;
            min-width: 12vw;
            position: relative;

            span.up{                
                margin-bottom: 1vw;
            }   
            span.down{
                margin-top: 1vw;
            }
        }
        th.diagonal-th .line{
            position: absolute;
            height: 0;
            padding: 0;
            border-top: 0.1vw solid black;
            width: 104%;
            transform: rotate(13deg);
            left: -2%;
            top: 50%;
        }

        td.inactive{
            background-color: gray;
            input{
                display: none;
            }
        }
        
        thead {
            th {
                background-color: #55608f;
                text-align: center;
                padding: 1vw;
            }
        }
        
        tbody {
            tr {
                &:hover {
                    background-color: rgba(255,255,255,0.3);
                }
            }
            td {
                position: relative;
                text-align: center;
                color: black;
                &:hover {
                    &:before {
                        content: "";
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: -9999px;
                        bottom: -9999px;
                        background-color: rgba(255,255,255,0.2);
                        z-index: -1;
                    }
                }
            }
        }
    }   
}