.service-block{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.14);
    width: 100%;
    height: 70px;
    background: #FFFFFF;
    margin-top: 41px;
    margin-bottom: 41px;
}

label.add_main_image {
    position: absolute;
    z-index: 1;
    width: 200px;
    height: 200px;
    cursor: pointer;
}

.service-title, .service-title:focus{
    font-family: Montserrat Regular;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #B8B8B8;
    /* padding: 15px; */
    margin-left: 56px;
    margin-top: 15px;
    margin-bottom: 15px;
    float: left;
    border: none;
    outline: none;
    width: auto;
    /* border-bottom: 1px solid gray; */
    background: white;
}

.service-title:focus{
    border-bottom: 1px solid gray;
}

.service-title:disabled{
    border: none;
    outline: none;
}

.trash, .arrow, .edit{
    width: 35px;
    float: right;
    height: 35px;
    background-size: contain;
    margin-right: 20px;
    margin-top: 15px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.arrow{
    background-image: url("/static/img/down-arrow.svg");
}

.trash{
    background-image: url("/static/img/trash.png");
}

.edit{
    background-image: url("/static/img/draw.svg");
}

.add{
    width: 50px;
    height: 50px;
    margin-left: 0px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    outline: none;
    border-radius: 50%;
    background-image: url("/static/img/add.svg");
    vertical-align: middle;
    margin-right: 25px;
    cursor: pointer;
}

.image-trash{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0px;
    right: 0px;
    background-image: url("/static/img/trash.svg");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.image-form{
    float: right;
    width: 490px;
    padding-top: 10px;
}

.add-input{
    display: none;
}

.scrollable-services{
    width: 80%;
    height: auto;
    padding: 5px;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
}

.under-block{
    display: none;
    height: 170px;
    padding-top: 15px;
}

.schedule-block{
    width: 90%;
    height: 90px;
    padding-left: 56px;
    clear: both;
}

.schedule-title{
    font-family: Montserrat Regular;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #5A5A5A;
    float: left;
    height: 100%;
    padding-top: 20px;
}

.day-of-week{
    float: right;
    margin-right: 20px;
    width: 50px;
    text-align: center;
    position: relative;
    padding-top: 19px;
}

.day-of-week-up{
    font-family: Montserrat Regular;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #5A5A5A;
    background-color: white;
    width: 50px;
    text-align: center;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.edit-day-block {
    position: absolute;
    top: 60px;
    left: -200px;
    width: 450px;
    height: 450px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #570499;
    border-radius: 40px;
    padding: 20px;
    color: white;
    overflow: auto;
    display: none;
    z-index: 4;
}

table.timelines {
    height: auto;
    color: white;
}

.timelines tr td {
    border: 1px solid #FFFFFF;
}

.timelines .day-of-week-down{
    font-family: Montserrat Regular;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 15px;
    color: white;
    width: 50px;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    text-align: center;
}

.add-timeline-button {
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: top;
    background-image: url(/static/img/add_white.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 5px;
}

.add-timeline-title {
    font-family: Montserrat Regular;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: inline-block;
}

.places .day-of-week-up{
    width: 45px;
}

.day-of-week-down{
    font-family: Montserrat Regular;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 15px;
    color: #5A5A5A;
    width: 50px;
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
    text-align: center;
}

.day-of-week-down:disabled, .day-of-week-up:disabled{
    border: none;
}

.day-of-week-down:enabled, .day-of-week-up:enabled{
    border-bottom: 1px solid gray;
}

.day-of-week-down:focus, .day-of-week-up:focus{
    outline: none;
    border: none;
    border-bottom: 1px solid gray;
    cursor: pointer;
}

.places{
    padding-top: 24px;
}

.add-button, .add-button:focus{
    width: 30%;
    max-width: 300px;
    margin-top: 50px;
    float: right;
    padding: 20px;
    color: white;
    font-family: Montserrat Regular;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 15px;
    background: #570499;
    box-shadow: 0px 4px 12px rgb(0 0 0 / 20%);
    border-radius: 30px;    
    outline: none;
    margin-right: 20%;
}

.add-button:focus{
    background: #4b0485;
}

.description, .description:focus{
    width: 490px;
    float: right;
    resize: none;
    margin-top: 25px;
    border: 1px solid #570499;
    outline:#4b0485;
    padding: 20px;
}

.service-main-image{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.service-image{
    width: 75px;
    height: 75px;
    border-radius: 0px;
}

.service-image-block{
    width: 75px;
    height: 75px;
    margin-right: 25px;
    margin-bottom: 25px;
    display: inline-block;
    position: relative;
}

.tag-block {
    height: auto;
    display: inline-block;
}

.service-image-main-block{
    width: 200px;
    height: 200px;
    margin-left: 25px;
    display: inline-block;
    position: relative;
}

.delete-timeline {
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    background-image: url(/static/img/trash.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

table .day-of-week-down {
    display: inline-block;
    vertical-align: middle;
}

.add-timeline-block {
    cursor: pointer;
    margin-bottom: 20px;
}



.edit-day-block::-webkit-scrollbar {
    width: 0px;
    visibility: hidden;
}
  

.edit-day-block::-webkit-scrollbar-track {
    visibility: hidden;
}

.edit-day-block::-webkit-scrollbar-thumb {
    visibility: hidden;
}

.timelines tr th{
    padding: 0;
    border: 1px solid #FFFFFF;
    padding: 10px;
    font-family: Montserrat Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
}

.tags-block {
    width: 100%;
    height: auto;
    text-align: left;
}

.tags-block .tag {
    display: inline-block;
    margin-right: 40px;
    /* font-size: 25px; */
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #D14BA0;
    margin-bottom: 30px;
}

.round {
    position: relative;
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: top;
  }
  
  .round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    left: 0;
    position: absolute;
    top: 0;
    width: 28px;
  }
  
  .round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
  }
  
  .round input[type="checkbox"] {
    visibility: hidden;
  }
  
  .round input[type="checkbox"]:checked + label {
    background-color: #D14BA0;
    border-color: #D14BA0;
  }
  
  .round input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }

@media(max-width:1800px){
    .day-of-week-up{
        font-size: 16px;
    }
    .day-of-week-down{
        font-size: 12px;
        width: 40px;
    }
    .day-of-week{
        margin-right: 10px;
    }
    .schedule-title{
        font-size: 20px;
    }
    .trash, .arrow, .edit{
        width: 30px;
    }
}