{% extends "base.html" %}
{% load static %}
{% load sass_tags %}

{%block styles%}
    <link rel="stylesheet" href="{%sass_src 'css/main/add-project.scss'%}">
{%endblock%}

{%block main%}
    <div class="content-wrap">        
        <div class="content-block">
            <div class="title-block">
                <div class="title">Добавить проект</div>                
            </div>
            
            <form action="" method="post" id="add_project" class="add-project">{%csrf_token%}
                <input type="text" name="name" class="name" placeholder="Имя проекта">
                <textarea class="description" placeholder="Описание" name="description"></textarea>
                <div class="date-block">
                    <div class="date">
                        <div class="title">Дата начала проекта</div>
                        <input type="date" class="date" name="start-date">
                    </div>
                    <!-- <div class="date">
                        <div class="title">Дата окончания проекта</div>
                        <input type="date" class="date" name="end-date">
                    </div> -->
                </div>
                <div class="workers-block">
                    <div class="title">Сотрудники</div>
                    <multi-input>
                        <input list="workers" name="workers">
                        <datalist id="workers">    
                            {%for item in workers%}
                                {%if item.full_name != ''%}
                                    <option value="{{item.full_name}}" name="{{item.id}}"></option>     
                                {%endif%}
                            {%endfor%}                         
                        </datalist>
                    </multi-input>
                </div>
                <div class="tasks-block">
                    <div class="title">Задачи</div>
                    <div class="tasks" id="tasks">
                        
                    </div>
                    <div class="add-task" id="add-task" title="Добавить задачу" onclick="addTask()"></div>
                </div>
                
                <div style="text-align:right;height: auto;">
                    <button class="save" type="submit">Сохранить</button>
                </div>
                
            </form>
            
        </div>
    </div>
{%endblock%}

{%block scripts%}
    <script src="{%static 'js/multi-input.js'%}"></script>
    <script>
        var tasks = [];
        var multiSelectCounter = 0;
        function addTask(){
            tasksBlock = $("#tasks")[0];
            task = document.createElement("div");
            
            // <div class="date-block">
            //     <span>Сделать с </span>
            //     <input type="date" class="date">
            //     <span>До </span>
            //     <input type="date" class="date">
            // </div> Это блок с датами, может пригодится               
            tasksString = ``;
            for(var i = 0; i < tasks.length; i++){
                tasksString += `
                    <option value="`+tasks[i]["name"]+`"></option>     
                `;
            }
            hideElement = "hide";
            if(tasks.length > 0) hideElement = "";
            task.classList.add("task");
            task.innerHTML = `
                                   
                    <div class="delete-task" title="Удалить задачу" onclick="deleteTask(this)"></div>
                    <div class="save-task" title="Сохранить задачу" onclick="saveTask(this)"></div>
                    <div class="header-block">
                        <input type="text" class="task-name" placeholder="Имя задачи">
                                         
                    </div>
                    <textarea class="description" placeholder="Описание"></textarea>
                    
                    <div class="title">Умения для задачи</div>
                    <multi-input>
                        <input list="technologies`+multiSelectCounter+`" name="technologies">
                        <datalist id="technologies`+multiSelectCounter+`">    
                            {%for item in technologies%}
                                <option value="{{item.name}}"></option>     
                            {%endfor%}                         
                        </datalist>
                    </multi-input>

                    <div class="title half `+hideElement+`">Эту задачу можно начать делать после выполнения слеудющих задач:</div>
                    <multi-input class="`+hideElement+`">
                        <input list="tasks`+multiSelectCounter+`" name="tasks">
                        <datalist id="tasks`+multiSelectCounter+`">    
                            `+tasksString+`
                        </datalist>
                    </multi-input>
                    <div class="blur"></div>  
                
            `;
            tasksBlock.appendChild(task);
            multiSelectCounter++;
        }

        function deleteTask(element){
            taskBlock = element.parentElement;
            if(tasks.length == 1){
                taskBlock.remove();
                return;    
            }
            taskName = taskBlock.querySelector(".header-block input").value;
            for(var i = 0; i < tasks.length; i++){
                if(tasks[i]["name"] === taskName){
                    tasks.splice(i, 1);
                    break;
                }
            }
            taskBlock.remove();
            allTasks = $(".task");
            for(var i; i < allTasks.length; i++){
                multiInputs = allTasks[i].getElementsByTagName("multi-input");
                if(multiInputs.length < 2){
                    continue;
                }
                multiInput = multiInputs[1];
                items = multiInput.getElementsByClassName("item");
                for(var j = 0; j < items.length; j++){
                    if(items[j].textContent === taskName){
                        items[j].click();
                        break;
                    }
                }
            }
            alertify.error("Задача удалена!");
        }

        function saveTask(element){
            taskBlock = element.parentElement;
            
            if(taskBlock.children[2].children[0].value.trim().length == 0){
                alertify.error("Имя задачи не может быть пустым!", 5);
                return;
            }
            else if(taskBlock.children[5].getValues().length == 0){
                alertify.error("Добавьте умения необходимые для выполнения задачи!", 5);
                return;
            }
            task = {
                "name": taskBlock.querySelector(".header-block input").value,
                "description": taskBlock.querySelector("textarea.description").value,                
                "technologies": taskBlock.children[5].getValues()
            };
            tasks.push(task);
            element.remove();
            taskBlock.querySelector(".header-block input").disabled = true;
            taskBlock.querySelector("textarea.description").disabled = true;
            taskBlock.children[4].children[0].disabled = true;
            if(tasks.length > 1){
                taskBlock.children[6].children[0].disabled = true;
            }
            taskBlock.classList.add("saved");
            alertify.success("Задача сохранена!", 3);
        }

        form =  $("#add_project")[0];
        form.addEventListener('submit', (e) => {            
            e.preventDefault();            
            startLoading();            
            const form = e.target;
            if(form.querySelector("input.name").value.trim().length == 0){
                finishLoading();
                alertify.error("Укажите имя проекта!", 5);                
                return;
            }
            if(form.querySelector("input.date").value.trim().length == 0){
                finishLoading();
                alertify.error("Укажите дату начала проекта!", 5);                
                return;
            }
            if(form.querySelector(".workers-block multi-input").getValues().length == 0){
                finishLoading();
                alertify.error("Добавьте хотя бы одного сотрудника в проект!", 5);                
                return;
            }
            if(tasks.length == 0){
                finishLoading();
                alertify.error("Добавьте хотя бы одну задачу в проект!", 5);                
                return;
            }
            data = new FormData(form);            
            tasksBlocks = document.getElementsByClassName("task saved");            
            //values = input.getValues();            
            currentTasks = [];
            for(var i = 0; i < tasksBlocks.length; i++){
                task = tasksBlocks[i];
                taskData = {
                    "name": task.children[1].children[0].value,                    
                    "description": task.children[2].value,
                    "technologies": task.children[4].getValues()
                };
                currentTasks.push(taskData);
            }

            workers = document.querySelector(".workers-block multi-input").getValues();


            data.append("tasks",  JSON.stringify(currentTasks));
            data.append("workers", JSON.stringify(workers));
            fetch(form.action, {
                method: form.method,
                body: data,
            }).then((res) => {
                finishLoading();
                console.log(res);                
                alertify.success("Вы успешно добавили проект!", 5);
            })
            
        });
    </script>
{%endblock%}