{% load static %}

{% block links %}

    <head>
        <script src="{%static 'js/jquery.min.js'%}"></script>
        <link rel="stylesheet" type="text/css" href="{%static 'css/main/alertify/alertify.min.css'%}">
        <link rel="stylesheet" type="text/css" href="{%static 'fonts/montserrat_family.css'%}">
        <link rel="stylesheet" type="text/css" href="{%static 'css/main/alertify/themes/default.min.css'%}">
         
        <link rel="shortcut icon" href="{%static 'img/login_logo.png'%}" type="image/x-icon">
        <script src="{%static 'js/jquery.min.js'%}"></script>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Проект</title>
        <link rel="stylesheet" href="{%static 'fonts/montserrat_family.css'%}">
        <link rel="stylesheet" href="{%static 'css/main/main.css'%}">    
        <link rel="stylesheet" href="{%static 'css/main/bootstrap.min.css'%}">    
        <script src="{%static 'js/functions.js'%}"></script>    
        <script src="{%static 'js/custom-select.js'%}"></script> 

        <script src="{%static 'js/alertify.js'%}"></script>
        <script src="{%static 'js/functions.js'%}"></script>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        		
        <link rel="stylesheet" href="{%static 'bootstrap/css/bootstrap.min.css'%}" />                
        
        {% block styles %}

        {% endblock %}
    </head>
{% endblock %}


<body>
{% block body%}
       
        <div class="show-on-mobile">
            <h1 class="mobile-alert">Мобильная версия пока не доступна!</h1>
        </div>
    
        <div class="delete-notification-wrap" id="delete_notification">
            <div class="delete-notifications-block">
                <div class="header">
                    <div></div>
                    <div class="title">Сообщение</div>
                    <div class="close" onclick="hideElement('delete_notification')"></div>
                </div>
                <div class="text">Вы точно хотите что-то сделать?</div>
                <div class="buttons">
                    <div class="delete" id="delete_button">Продолжить</div>
                    <div class="cancel" onclick="hideElement('delete_notification')">Отмена</div>
                </div>
            </div>
        </div>

        <div class="main-wrap hide-on-mobile">
            <div class="main-sidebar">
                <div class="header">
                    <div class="left-side">
                        <div class="avatar-wrap">
                            <img class="avatar" src="{%static 'img/user.png'%}">
                        </div>                
                        <div class="content">
                            <div class="up-text">XcenaX</div>
                            <div class="down-text">Сотрудник</div>
                        </div>
                    </div>
                
                    
                </div>
                
                <div class="menu">
                    <div class="item">Главная</div>
                    <a href="{% url 'main:index'%}" class="sub-item {%block training%}{%endblock%}">Мои задачи</a>
                    <a href="{% url 'main:reservations'%}" class="sub-item {%block reservations%}{%endblock%}">Какая-то вкладка</a>
                    

                    <a href="{% url 'main:settings'%}" class="item {%block settings%}{%endblock%}">Настройки</a>
                    <a href="{% url 'main:history'%}" class="item {%block history%}{%endblock%}">История</a>
                    <a class="item" id="exit_button">Выход</a>
                </div>
                <div class="bottom">
                    <div class="phone-block">
                        <div class="phone"></div>
                        <div class="text">+ 7 987 654 32 10</div>
                    </div>
                    <div class="logo"></div>
                </div>
            </div>
            {%block main%}
                
            {%endblock%}
        </div>
            
{% endblock %}
</body>
<script>
    $("#exit_button").on("click", function(e) {            
        delete_cookie("user");
        document.location = "/login";
    });
</script>
{%block scripts%}
{%endblock%}