{% extends "base.html" %}
{% load static %}

{%block training%}active{%endblock%}

{%block main%}
    <div class="content-wrap">        
        <div class="content-block">
            <div class="title-block">
                <div class="title">Мои задачи</div>
                <form action="" class="form-filters" method="get" style="margin: 0;justify-content: flex-end;">                    
                    <select class="ilter status-select" name="status">
                        <option {%if status == '' %}selected{%endif%} value="">Выберите статус задачи</option>
                        {%for key, value in statuses%}                        
                            <option {%if key == status %}selected{%endif%} value="{{key}}">{{value}}</option>                                          
                        {%endfor%}
                    </select>                    
                    <button type="submit" id="filter-button" style="display: none;"></button>
                </form>
            </div>
            
            {%for task in tasks%}
                <div class="task-block {%if task.get_status_name == "Сделано"%}finished{%endif%}">
                    <div class="head-block">
                        <div class="left-side">
                            <div class="title">{{task.name}}</div>
                            <div class="end-date">Статус: <span>{{task.get_status_name}}</span></div>
                        </div>
                        <div class="start-date">
                            C <span>{{task.start_date|date:"d.m.Y"}}</span> До <span>{{task.end_date|date:"d.m.Y"}}</span>
                        </div>
                    </div>
                    <div class="content">
                        <div class="title">Описание</div>
                        <div class="description">
                            {{task.description|linebreaks}}
                        </div>
                        <div class="title">Необходимые навыки</div>
                        <div class="skills">
                            {%for skill in task.technologies.all%}
                                <div class="item">{{skill.name}}</div>                                
                            {%endfor%}
                        </div>
                    </div>
                    {%if task.get_status_name == "В процессе" or task.get_status_name == "Возвращено"%}
                        <form action="{%url 'main:set_task_status' task.id %}" method="post" class="menu">{%csrf_token%}                                                        
                            <input name="status" value="1" style="display:none">
                            <button class="send" type="submit">Сдать</button>                            
                        </form>
                    {%elif task.get_status_name == "Сделано"%}       
                        <div class="blur"></div>
                        <div class="done"></div>                                     
                    {%endif%}
                </div>
            {%endfor%}
            
        </div>
    </div>
{%endblock%}