{% extends "base.html" %}
{% load static %}

{%block training%}active{%endblock%}

{%block main%}
    <div class="content-wrap">        
        <div class="content-block">
            <div class="title-block">
                <div class="title">Мои задачи</div>
                <div class="search-block">
                    <div class="icon"></div>
                    <input class="input" placeholder="Поиск...">
                </div>
            </div>
            
            
        </div>
    </div>
{%endblock%}